@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: 'Cinzel', serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: auto;
    color: #333;
}

/* logo */
h1 {
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 15px;
    color: grey;
    text-transform: uppercase;
    margin: 20px auto;
}

/* hero image */
.heroImage {
    background-image: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    background-position: bottom;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* hero text */
h2 {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    overflow-wrap: normal;
    position: relative;
    text-align: center;
    padding-top: 240px;
    margin: auto;
    width: 500px;
    line-height: 1.2;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
}

article p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
    width: 1200px;
    text-align: center;
    margin: 20px auto;
}

/* image gallery */

.imageGallery {
    width: 1200px;
    margin: auto;
}

.row {
    display: flex;
}

.column {
    flex:33.33%;
    padding: 5px;
}

/* 
div img {
    display: inline-block;
    width: 30%;
    margin: 20px auto;
} */


/* list */
ol {
    width: 1200px;
    margin: 20px auto;
}

li {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
    list-style: none;
    margin: auto;
}

/* status of booking capacity */
li:nth-of-type(1)::after {
    color: red;
    content: " – SOLD OUT";
}

li:nth-of-type(2)::after {
    color: red;
    content: " – SOLD OUT";
}

li:nth-of-type(3)::after {
    color: red;
    content: " – SOLD OUT";
}

li:nth-of-type(4)::after {
    color: orange;
    content: " – ONLY 4 SPOTS AVAILABLE";
}

li:nth-of-type(5)::after {
    color: green;
    content: " – AVAILABLE";
}

li:nth-of-type(6)::after {
    color: green;
    content: " – AVAILABLE";
}

/* footer */
footer {
    width: 1200px;
    margin: auto;
    text-align: center;
    border-top: black;
}

.fa {
    background: #333;
    color: white;
    padding: 20px;
    font-size: 80px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }